// CART
.cart-container {
  background-color: rgb(245, 245, 245);
  padding: 2% 0 5%;
}

.cart-container input[type=number] {
  width: 10%;
  border-radius: 5px;
}

.cart-item-container {
  background-color: white;
  width: 80%;
  border: 1px solid rgb(99, 98, 98);
  border-radius: 5px;
  padding: 5%;
  position: relative;
  margin: 0 auto;
  display: flex;
}

.cart-count {
  font-size: 24px;
  margin-bottom: 1%;
  margin-left: 10%;
}

.cart-item-left {
  width: 70%
}

.cart-item-right {
  width: 30%;
}

.cart-vl {
  position: absolute;
  height: 100%;
  top: 0;
  border-left: 1px solid rgb(99, 98, 98);
  left: 60%;
}

.cart-item-right button {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 18px;
  padding: 3% 8%;
  margin-top: 1%;
}

.cart-item-left button {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 18px;
  padding: 1%;
}

.cart-item-left a {
  text-decoration: none;
  color: black;
}

.cart-item-left a:hover {
  text-decoration: none;
}

.cart-item-container button:hover {
  background-color: rgba(0, 0, 0, 0.81);
}

.ci {
  margin-bottom: 2%;
}