// PRODUCT ITEM
.show-container {
  display: flex;
}

.show-left {
  width: 70%;
  height: 70vh;
  background-color: red;
  padding: 2%;
}

.show-right {
  width: 30%;
  padding: 2%;
}

.rating-stars {
  color: grey;
  display: inline-block;
}

.product-owner {
  display: inline-block;
  margin-right: 3%;
  margin-bottom: 3%
}

.product-owner a {
  color: grey;
  text-decoration: none;
}

.product-owner a:hover {
  text-decoration: underline;
}

.product-title {
  font-size: 20px;
  font-family: "Guardian-EgypTT",Arial,sans-serif;
  margin-bottom: 2%;
}

.product-price {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 2%;
}

.buy-now-btn {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 3% 0;
  border: 2px solid black;
  font-weight: 600;
  border-radius: 3px;
  margin: 3% 0;
}

.buy-now-btn:hover {
  background-color: black;
  color: white;
}

.add-cart-btn {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 3% 0;
  border: 2px solid black;
  font-weight: 600;
  border-radius: 3px;
  margin: 3% 0;
  background-color: black;
  color: white;
}

.add-cart-btn:hover {
  background-color: rgba(0, 0, 0, 0.81);
}

.description-container h3, .review-form-container h3 {
  font-weight: 600;
  margin-bottom: 3vh;
}

.description-container p {
  margin-bottom: 3vh;
}

.review-form-container {
  display: flex;
  justify-content: space-between;
}

.review-left {
  width: 40%;
}

.review-right {
  width: 40%;
}

.review-post {
  margin-bottom: 3%;
  border: 1px solid rgb(113, 113, 113);
  padding: 2%;
  border-radius: 5px;
}

.review-post h4 {
  font-weight: 600;
  margin-bottom: 2%;
}

.review-form-container form textarea {
  display: block;
  border-radius: 5px;
  font-size: 16px;
  padding: 1%;
}

.review-form-container input[type=text] {
  width: 28vw;
  margin-bottom: 1%;
  border-radius: 5px;
  font-size: 16px;
  padding: 1%;
}

.review-form-container input[type=submit] {
  width: 31vw;
  font-size: 22px;
  background-color: black;
  color: white;
  padding: 2%;
  margin-top: 1%;
  border-radius: 5px;
}

.review-form-container input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.81);
}
// STARS
.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:2em;
  justify-content:space-around;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#fc0;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#f90;
}

.product-errors {
  list-style-type: none;
  color: red;
}

