.ci-container {
    position: relative;
    width: 60%;
    height: 70vh;
    // disable text highlighting
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ci-img-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.ci-img-container img {
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: rgb(255, 237, 237);
    object-fit: contain;
}

.ci-arrow {
    position: absolute;
    font-size: 30px;
    background-color: rgba(216, 216, 216, 0.337);
    padding: 4%;
    top: 40%;
}

.ci-left {
    left: 0;
}

.ci-right {
    right: 0;
}

.ci-arrow:hover {
    cursor: pointer;
}