// .show-slider-container {
//     position: relative;
//     width: 60%;
//     height: 70vh;
// }

// .sliders {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     z-index: -1;
// }

// .sliders img {
//     width: 100%;
//     height: 100%;
// }

// #si0, #si1, #si2, #si3 {
//     display: none;
// }

// .pre, .nxt {
//     width: 10%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     background-color: rgba(145, 145, 145, 0.248);
//     z-index: 10;
//     cursor: pointer;
// }

// .pre {
//     left: 0;
// }

// .nxt {
//     right: 0;
// }

// #si1:checked ~ #s1 {
//     z-index: 3;
// }

// #si2:checked ~ #s2 {
//     z-index: 3;
// }

// #si3:checked ~ #s3 {
//     z-index: 3;
// }

// #si4:checked ~ #s4 {
//     z-index: 3;
// }

.ci-container {
    position: relative;
    width: 60%;
    height: 70vh;
}

.ci-img-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.ci-img-container img {
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: rgb(238, 238, 238);
    border: 3px solid #e4e4e4;
}

.ci-arrow {
    position: absolute;
    font-size: 30px;
    background-color: rgba(216, 216, 216, 0.337);
    padding: 6%;
    top: 40%;
}

.ci-left {
    left: 0;
}

.ci-right {
    right: 0;
}

.ci-arrow:hover {
    cursor: pointer;
}