.profile-product-item img {
    width: 100%;
    height: 100%;
}

.profile-product-item {
    width: 30vh;
    height: 30vh;
    margin-bottom: 8%;
}

.profile-product-item img:hover {
    cursor: pointer;
}

.profile-product-item:not(:last-child) {
    margin-right: 2%;
}

.profile-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "Guardian-EgypTT",serif;
}

.profile-product-item-top {
    display: flex;
    justify-content: space-between;
}

.profile-products-title {
    margin-bottom: 2%;
}

.profile-reviews-title {
    margin: 1% 0;
}

.profile-review-item-top h4:not(:last-child) {
    margin-bottom: 1%;
}

.profile-product-item-top img:hover {
    box-shadow: 0px 0px 3px 3px grey;
}

.profile-reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile-review-item img {
    width: 100%;
    height: 100%;
}

.profile-review-item {
    width: 31vh;
    height: 31vh;
    margin-bottom: 8%;
    
}

.profile-review-item:not(:last-child) {
    margin-right: 2%;
}

.profile-review-item img:hover {
    cursor: pointer;
}

.profile-product-text a {
    color: black;
    font-size: 14px;
    text-decoration: underline;
}

.profile-review-text a {
    color: black;
    font-size: 14px;
    text-decoration: underline;
}

.profile-product-text a:hover, .profile-review-text a:hover {
    color: grey;
    cursor: pointer;
}

// STARS
.profile-star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 0 2% 0;
  position: relative;
  text-shadow: 0px 1px 0 #c9c9c9;
  // disable text highlighting
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

 &-top {
   color: gold;
   padding: 0;
   position: absolute;
   z-index: 1;
   display: block;
   top: 0;
   left: 0;
   overflow: hidden;
   font-size: 20px;
 }

 &-bottom {
   padding: 0;
   display: block;
   z-index: 0;
   font-size: 20px;
 }
}

.profile-review-item-top h4 {
    white-space: nowrap;
}

#edit-review-modal-bg {
    display: none;
    position: absolute;
    width: 100vw;
    height: 1000vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.94);
    z-index: 99;
}

#edit-review-modal {
    display: none;
    position: absolute;
    width: 50vw;
    height: 30vh;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    z-index: 99999;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#edit-body {
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}

#edit-title {
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 1%;
}

// edit stars
.star-edit {
  display:flex;
  flex-direction: row-reverse;
  font-size:2em;
  justify-content:space-around;
  text-align:center;
  width:5em;
}

.star-edit input {
  display:none;
}

.star-edit label {
  color:#ccc;
  cursor:pointer;
}

.star-edit :checked ~ label {
  color:#fc0;
}

.star-edit label:hover,
.star-edit label:hover ~ label {
  color:#f90;
}