.sell-container {
    background-image: image_url('petCollage.jpg');
    background-size: 100% 100%;
    height: 30vh;
}

.sell-form {
    padding: 2%;
    font-family: "Guardian-EgypTT",serif;
    height: 60vh;
    width: 50vw;
    margin: 0 auto;
}

.sell-form h2 {
    font-size: 30px;
    margin-bottom: 5%;
    text-align: center;
}

.sell-form h4 {
    font-size: 18px;
}

.sell-form input[type=text], input[type=number] {
    width: 100%;
    font-size: 18px;
    padding: 1%;
}

.sell-form input[type=submit] {
    width: 30%;
    font-size: 18px;
    background-color: black;
    color: white;
    display: block;
    margin: 2% auto;
    border-radius: 5px;
    padding: 5%;
}

.sell-form input[type=submit]:hover {
    background-color: rgb(92, 92, 92);
}

.sell-form-container {
    background-color: pink;
}